::selection {
    background-color: #c9c3c3e3;
    color: rgb(81, 11, 40);
}

body {
    padding: 0;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: #EEE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(81, 11, 40);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.container form input {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 1px 11px 0px #EEE;
    background-color: rgb(201 195 195 / 11%);
}

.container form input:hover:not(.display) {
    cursor: pointer;
}

form input.display {
    width: calc(100% - 15px);
    text-align: right;
    padding: 15px;
}

form input.operator {
    background-color: #c9c3c3e3;
    color: rgb(81, 11, 40);
    font-weight: bold;
}

form input.equal {
    height: 140px;
    position: absolute;
    top: 0;
    right: 20px;
    top: calc(60px*4 + 5*20px);
}

form input.special {
    background-color: #554949;
    color: white;
}